---
layout: page
title: About
subtitle: A Simple Personal Blog.
permalink: /about/
published: true
---

<h2>About this Blog</h2>
<p>Handmade things </p>
<p><ul class="about-list">
	<li><i class="fa fa-rss"></i><a href="{{ site.baseurl }}/feed.xml"> Rss</a></li>
</ul></p>

<h2>About me</h2>
<p><ul class="about-list">
	<li>
		<i class="fa fa-facebook"></i><a href="https://facebook.com/{{ site.facebbok_username }}"> Facebook</a>
	</li>
	<li>
		<i class="fa fa-instagram"></i><a href="https://instagram.com/{{ site.instagram_username }}"> Instagram</a>
	</li>
	<li>
		<i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
	</li>
</ul></p>

{% if site.skillstree %}
{% include skillstree.html %}
{% endif %}
