---
layout: default
---

<style>
	
	.index-content {
	margin-top: 30%;
	margin-bottom: 30%;
	font-size: 18px;
	}
	
</style>

<center>
	<p class="index-content">Welcome</p>
</center>

{% assign is_first = true %}
{% for post in site.posts %}

{% capture this_year %}
{{ post.date | date: "%Y" }}
{% endcapture %}
{% if is_first %}
<h2>{{ this_year }}</h2>
{% endif %}

{% capture next_year %}
{{ post.previous.date | date: "%Y" }}
{% endcapture %}
{% if this_year == next_year %}
{% assign is_first = false %}
{% else %}
{% assign is_first = true %}
{% endif %}

<ul>
	<img src="{{ post.img | prepend: site.baseurl }}" alt="{{ post.img_alt }}" height="400" width="200">
	<li>
		<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		<span class="date"> - {{ post.date | date_to_long_string }}</span>
	</li>
</ul>

{% endfor %}
